/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

.events-feed
  width 100%
  display inline-block

  ul
    display inline-block
    margin 0 -1%
