/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'nib'

.events-feed
  width 100%
  display inline-block

  ul
    li
      width 33.33%
      float left