/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

.events-feed
  width 100%
  display inline-block

  >h1
    width 100%
    text-align left
    padding-left 1.8%
    box-sizing border-box
    border-radius 5px
    font('black', 4.8em, initial)
    opacity .9
    margin-bottom 0em

  ul
    display inline-block
    margin 0 -1%

    li
      position relative
      background #fff
      box-shadow $shadow-2
      margin 1%
      height 43vw
      width 31.33%
      float left

      a
        event-link()

      &:nth-of-type(1)
        background #C8E7F0
      &:nth-of-type(2)
        background #FFF7D5
      &:nth-of-type(3)
        background #F0B6B3
      &:nth-of-type(4)
        background #E06334