/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@font-face {
  font-family: 'black';
  src: url("../fonts/swiss_721_black_condensed-webfont.eot");
  src: url("../fonts/swiss_721_black_condensed-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/swiss_721_black_condensed-webfont.woff2") format('woff2'), url("../fonts/swiss_721_black_condensed-webfont.woff") format('woff'), url("../fonts/swiss_721_black_condensed-webfont.ttf") format('truetype'), url("../fonts/swiss_721_black_condensed-webfont.svg#swiss_721black_condensed") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url("../fonts/swiss_721_bold_condensed-webfont.eot");
  src: url("../fonts/swiss_721_bold_condensed-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/swiss_721_bold_condensed-webfont.woff2") format('woff2'), url("../fonts/swiss_721_bold_condensed-webfont.woff") format('woff'), url("../fonts/swiss_721_bold_condensed-webfont.ttf") format('truetype'), url("../fonts/swiss_721_bold_condensed-webfont.svg#swiss_721bold_condensed") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url("../fonts/swiss_721_medium-webfont.eot");
  src: url("../fonts/swiss_721_medium-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/swiss_721_medium-webfont.woff2") format('woff2'), url("../fonts/swiss_721_medium-webfont.woff") format('woff'), url("../fonts/swiss_721_medium-webfont.ttf") format('truetype'), url("../fonts/swiss_721_medium-webfont.svg#swiss_721medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.featured-posts {
  float: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 3em;
}
.featured-posts .primary,
.featured-posts .secondary {
  display: inherit;
  float: left;
  height: 60vw;
  max-height: 900px;
  position: relative;
  z-index: 3;
  width: 50%;
}
.featured-posts .primary,
.featured-posts .secondary ul li {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.featured-posts .primary .event-link {
  opacity: 1 !important;
  -ms-filter: none;
  filter: none;
}
.featured-posts .secondary {
  position: relative;
  z-index: 2;
}
.featured-posts .secondary ul {
  height: 100%;
  display: inherit;
}
.featured-posts .secondary ul .feature {
  width: 100%;
  height: 50%;
}
.featured-posts .secondary ul .feature:nth-of-type(1) {
  position: relative;
  z-index: 2;
}
.featured-posts .secondary ul .feature:nth-of-type(2) {
  position: relative;
  z-index: 1;
}
.featured-posts .secondary ul .feature .event-link {
  position: relative;
}
.featured-posts .secondary ul .feature .event-link .thumb-date {
  margin: 0;
  position: absolute;
  bottom: 1em;
}
.featured-posts .feature {
  overflow: hidden;
  background-color: #fff;
  display: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: inherit;
}
.featured-posts .feature .event-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.3em;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.featured-posts .feature .event-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.featured-posts .feature .event-link h1 {
  margin: 0;
  padding-right: 25%;
font-size
/* Note on letter-spacing: Photoshop tracking is based on 1/1000em */
  letter-spacing: -0.03em;
  font-family: 'black';
  font-size: 5vw;
  line-height: 1em;
}
.featured-posts .feature .event-link p {
  padding-right: 25%;
/* Note on letter-spacing: Photoshop tracking is based on 1/1000em */
  letter-spacing: -0.03em;
  font-family: 'bold';
  font-size: 2vw;
  line-height: 1.4;
}
.featured-posts .feature .event-link p.thumb-preview {
  position: absolute;
  bottom: 0;
}
.featured-posts .feature.has-image .event-link {
  background-position: right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.featured-posts .feature.has-image .event-link h1,
.featured-posts .feature.has-image .event-link p {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.featured-posts .feature.has-image .buy-link {
  background: rgba(255,255,255,0.9);
}
.featured-posts .feature.has-image .buy-link:hover {
  background: #fff;
  color: #000;
}
.featured-posts .feature:hover .event-link {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.featured-posts .feature .buy-links .buy-link {
  display: block;
  text-align: center;
  padding: 1.1em;
  -webkit-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  border: 1px solid rgba(0,0,0,0.1);
/* Note on letter-spacing: Photoshop tracking is based on 1/1000em */
  letter-spacing: -0.03em;
  font-family: 'bold';
  font-size: 1em;
  line-height: initial;
  position: absolute;
  bottom: 0.9em;
  right: 1.1em;
}
.featured-posts .feature .buy-links .buy-link:last-of-type {
  border-top: none;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.featured-posts .feature .buy-links .buy-link:hover {
  color: #fff;
  background: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.featured-posts .feature .buy-links .buy-link:active {
  border-bottom: 0;
}
