/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

.featured-posts.page
  float left
  width 100%
  display inline-block
  margin-bottom 3em

  .primary, .secondary
    display inherit
    float left
    height 60vw
    max-height 900px
    position relative
    z-index 3

  .primary, .secondary ul li
    box-shadow $shadow-2

  .primary
    width 66.6%
    display inherit

    a
      &.hero
        height 83.33%

    .meta
      height 16.66%

  .secondary
    width 33.3%
    position relative
    z-index 2

    ul
      height 100%
      display inherit

      .feature
        height 50%

        &:nth-of-type(1)
          position relative
          z-index 2

        &:nth-of-type(2)
          position relative
          z-index 1

        a
          &.hero
            height 66.66%

        .meta
          height 33.33%

  .feature
    overflow hidden
    background #fff
    display inherit

    &:hover
      a.hero
        opacity 1

    a
      float left
      display inherit

      &.hero
        display inherit
        width 100%
        overflow hidden
        opacity .8
        background #CAEAF9
        transition opacity $time ease-in-out

        img
          width 100%
          height auto
          margin 0

      &.buy-link
        buy-link()
        position absolute
        bottom .9em
        right $padding

    .meta
      box-sizing border-box
      padding $padding $padding $padding 2*$padding
      width 100%
      float left

      p
        margin 0
        display block

        &.thumb-title
          font-weight bold
          float left
          width 70%

        $font-size = 1em
        $line-height = 1.4em
        $lines-to-show = 2

        &.thumb-preview
          display block
          display -webkit-box
          position absolute
          bottom 2em
          width 80%
          float left
          height $font-size*$line-height*$lines-to-show
          margin 0 auto
          font-size $font-size
          line-height $line-height
          -webkit-line-clamp $lines-to-show
          -webkit-box-orient vertical
          text-overflow ellipsis
          overflow hidden

        &.thumb-date
          width 30%
          float right
          color #888
          text-align right
