/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@font-face {
  font-family: 'black';
  src: url("../fonts/swiss_721_black_condensed-webfont.eot");
  src: url("../fonts/swiss_721_black_condensed-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/swiss_721_black_condensed-webfont.woff2") format('woff2'), url("../fonts/swiss_721_black_condensed-webfont.woff") format('woff'), url("../fonts/swiss_721_black_condensed-webfont.ttf") format('truetype'), url("../fonts/swiss_721_black_condensed-webfont.svg#swiss_721black_condensed") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url("../fonts/swiss_721_bold_condensed-webfont.eot");
  src: url("../fonts/swiss_721_bold_condensed-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/swiss_721_bold_condensed-webfont.woff2") format('woff2'), url("../fonts/swiss_721_bold_condensed-webfont.woff") format('woff'), url("../fonts/swiss_721_bold_condensed-webfont.ttf") format('truetype'), url("../fonts/swiss_721_bold_condensed-webfont.svg#swiss_721bold_condensed") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url("../fonts/swiss_721_medium-webfont.eot");
  src: url("../fonts/swiss_721_medium-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/swiss_721_medium-webfont.woff2") format('woff2'), url("../fonts/swiss_721_medium-webfont.woff") format('woff'), url("../fonts/swiss_721_medium-webfont.ttf") format('truetype'), url("../fonts/swiss_721_medium-webfont.svg#swiss_721medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
.featured-posts.page {
  float: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 3em;
}
.featured-posts.page .primary,
.featured-posts.page .secondary {
  display: inherit;
  float: left;
  height: 60vw;
  max-height: 900px;
  position: relative;
  z-index: 3;
}
.featured-posts.page .primary,
.featured-posts.page .secondary ul li {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.featured-posts.page .primary {
  width: 66.6%;
  display: inherit;
}
.featured-posts.page .primary a.hero {
  height: 83.33%;
}
.featured-posts.page .primary .meta {
  height: 16.66%;
}
.featured-posts.page .secondary {
  width: 33.3%;
  position: relative;
  z-index: 2;
}
.featured-posts.page .secondary ul {
  height: 100%;
  display: inherit;
}
.featured-posts.page .secondary ul .feature {
  height: 50%;
}
.featured-posts.page .secondary ul .feature:nth-of-type(1) {
  position: relative;
  z-index: 2;
}
.featured-posts.page .secondary ul .feature:nth-of-type(2) {
  position: relative;
  z-index: 1;
}
.featured-posts.page .secondary ul .feature a.hero {
  height: 66.66%;
}
.featured-posts.page .secondary ul .feature .meta {
  height: 33.33%;
}
.featured-posts.page .feature {
  overflow: hidden;
  background: #fff;
  display: inherit;
}
.featured-posts.page .feature:hover a.hero {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.featured-posts.page .feature a {
  float: left;
  display: inherit;
}
.featured-posts.page .feature a.hero {
  display: inherit;
  width: 100%;
  overflow: hidden;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: #caeaf9;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.featured-posts.page .feature a.hero img {
  width: 100%;
  height: auto;
  margin: 0;
}
.featured-posts.page .feature a.buy-link {
  float: right;
  padding: 1.1em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;
  border: 1px solid #f7f7f7;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  font-family: 'bold';
  word-spacing: 0.03em;
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  bottom: 0.9em;
  right: 1.1em;
}
.featured-posts.page .feature a.buy-link:hover {
  color: #fff;
  background: #2d98f6;
  border-bottom-color: #0a7bdf;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.featured-posts.page .feature a.buy-link:active {
  background: #118af5;
  border-bottom: 0;
}
.featured-posts.page .feature .meta {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.1em 1.1em 1.1em 2.2em;
  width: 100%;
  float: left;
}
.featured-posts.page .feature .meta p {
  margin: 0;
  display: block;
}
.featured-posts.page .feature .meta p.thumb-title {
  font-weight: bold;
  float: left;
  width: 70%;
}
.featured-posts.page .feature .meta p.thumb-preview {
  display: block;
  display: -webkit-box;
  position: absolute;
  bottom: 2em;
  width: 80%;
  float: left;
  height: 2.8em;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.4em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.featured-posts.page .feature .meta p.thumb-date {
  width: 30%;
  float: right;
  color: #888;
  text-align: right;
}
