/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

footer
  width 100%
  background white
  display inline-block
  box-shadow 0 -2px 4px rgba(0,0,0,0.1)

  #logo
    float left

    a
      img
        height 60px