/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

.featured-posts
  float left
  width 100%
  display inline-block
  margin-bottom 3em

  .primary, .secondary
    display inherit
    float left
    height 60vw
    max-height 900px
    position relative
    z-index 3
    width 50%

  .primary, .secondary ul li
    box-shadow $shadow-2

  .primary
    .event-link
      opacity 1 !important

  .secondary
    position relative
    z-index 2

    ul
      height 100%
      display inherit

      .feature
        width 100%
        height 50%

        &:nth-of-type(1)
          position relative
          z-index 2

        &:nth-of-type(2)
          position relative
          z-index 1

        .event-link
          position relative

          .thumb-date
            margin 0
            position absolute
            bottom 1em

  .feature
    overflow hidden
    background-color $thumbnail-background
    display inherit
    box-sizing border-box
    float left
    display inherit

    .event-link
      box-sizing border-box
      padding 1.3em
      display block
      height 100%
      width 100%
      opacity .8
      transition opacity $time

      &:hover
        opacity 1

      h1
        margin 0
        padding-right 25%
        font-size
        font('black',5vw,1em)

      p
        padding-right 25%
        font('bold', 2vw, 1.4)

        &.thumb-preview
          position absolute
          bottom 0

    &.has-image
      .event-link
        background-position right
        background-size cover

        h1, p
          color white
          text-shadow $shadow-2

      .buy-link
        background rgba(255,255,255,.9)

        &:hover
          background white
          color black

    &:hover
      .event-link
        opacity 1

    .buy-links
      display inline-block
      position absolute
      right $padding
      bottom $padding
      a
        buy-link()

    &.has-image
      .event-link
        background-position right
        background-size cover

        h1, p
          color white
          text-shadow $shadow-2

      .buy-links
        a
          background rgba(255,255,255,.8)
          color #000
          text-shadow $shadow-1

          &:hover
            background #000
            color #fff

.events-feed
  width 100%
  display inline-block

  ul
    display inline-block
    margin 0 -1%
