/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

#header
  position relative
  z-index 10
  width inherit
  height 60px
  display inline-block
  float left
  background white
  box-shadow 0 2px 4px rgba(0,0,0,0.2)

  #logo, #nav
    display inline-block

  #logo
    float left

    a
      img
        height 60px

  #nav
    float right

    li
      display inherit
      float left
      font-family 'medium'

      a
        display inherit
        padding .6em .3em
        margin .6em .9em
        box-shadow inset 0 0 0 #fff, inset 0px 0 0px #000
        transition box-shadow $time ease-in-out

        &:hover
          box-shadow inset 0 -9px 0 #fff, inset 0px -11px 0px #000