/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

html
  float left
  width 100%

  body
    float left
    width inherit
    background #fff

    .page
      position relative
      display inline-block
      box-sizing border-box
      padding 0 3em

*
  ul
    margin 0
    padding 0
    list-style-type none

.hero-img-wrap
  display inline-block
  height 60vw
  max-height 900px
  overflow hidden
  width 100%
  float left
  background #CFCED7

  img
    width 100%
    height auto
    min-height 100%

h1.section-title
  display inline-block
  text-align left
  box-sizing border-box
  border-radius 5px
  font('black', 4.8em, initial)
  opacity .9
  margin-bottom .5em

article
  display block
  margin-bottom 4em

  p
    max-width 1024px
    font('medium', 1.5em, 1.4)
    clear both
    display block

    b
      font('bold', 1.6em, 1.4)

    a
      color $link-color