/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'nib'

html
  float left
  width 100%

  body
    float left
    width inherit

    .page
      box-sizing border-box
      padding 0 3em
      background #fafafa

*
  ul
    margin 0
    padding 0
    list-style-type none