/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'variables'

.single
  .hero-img-wrap
    display inline-block
    max-height 900px
    overflow hidden
    width 100%
    float left

    img
      width 100%
      height auto

  .content-wrap
    float left

    .main, .related-content
      float left
