/*To auto-compile Stylus and auto-prefixer Nib, run stylus -u nib -w from parent folder*/
@import 'nib'
@import 'fonts'

$padding = 1.1em
$shadow-1 = 0 1px 2px rgba(0,0,0,0.1)
$shadow-2 = 0 2px 4px rgba(0,0,0,0.2)
$time = 0.1s ease-in-out
$black = 900 'black', sans-serif
$bold = 700 'bold', sans-serif
$medium = 100 'medium', serif
$link-color = #238DF3
$thumbnail-background = #f9f9f9

buy-link()
  display block
  text-align center
  padding $padding
  transition background $time, color $time, border-bottom-color $time
  border 1px solid rgba(0,0,0,.1)
  font('bold', 1em, initial)

  &:last-of-type
    border-top none
    box-shadow $shadow-1

  &:hover
    color white
    background rgba(0,0,0,0.7)
    box-shadow $shadow-1

  &:active
    border-bottom 0

font(weight, size, height)
  /* Note on letter-spacing: Photoshop tracking is based on 1/1000em */
  letter-spacing -0.03em
  font-family weight
  font-size size
  line-height height

event-link()
